@model MvcApplication1.Models.Factura
@{
    ViewBag.Title = "Editar";
}
<div class="body padding">
    <div class="container">
        <h2>Editar</h2>
        <form action="/Factura/Editarfactura" method="post">
            <input type="hidden" name="factura.numFactura" value="@Model.numFactura" />
            <input type="text" name="factura.fecha" value="@Model.fecha" />
            <input type="text" name="factura.IVA" value="@Model.IVA" />
            <input type="text" name="factura.total" value="@Model.total" />
            <input type="text" name="factura.numPago" value="@Model.numPago" />
            <input type="text" name="factura.descuento" value="@Model.descuento" />
            <input type="submit" />
        </form>

        </div>
</div>