@{
    ViewBag.Title = "Cart";
}

@using MvcApplication1.Models
    @{
        double grandTotal = 0;
    }




<div class="body padding">
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Producto</th>
                    <th style="width:10%">Precio</th>
                    <th style="width:8%">Cantidad</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>

@foreach (Item item in (List<Item>)Session["cart"])
{
    double subTotal = Convert.ToDouble(item.Cantidad) * Convert.ToDouble(item.Producto.precioUnitario);
    grandTotal += subTotal;


                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="@item.Producto.url_imagen" alt="..." class="img-responsive" /></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">@item.Producto.nombre</h4>
                                <p>@item.Producto.descripcion</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">@item.Producto.precioUnitario CLP</td>
                    <td data-th="Quantity">@item.Cantidad</td>
                    <td data-th="Subtotal" class="text-center">@(item.Producto.precioUnitario * item.Cantidad) CLP</td>
                    <td class="actions" data-th="">
                        <a href="/ShoppingCart/OrderNow/@item.Producto.idProducto" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="/ShoppingCart/Eliminar/@item.Producto.idProducto" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-minus"></span></a>
                        
                    </td>
                </tr>

}


            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td class="text-center"><strong>Total @grandTotal CLP</strong></td>
                </tr>
                <tr>
                    <td><a href="~/Producto" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuar Comprando</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total @grandTotal CLP</strong></td>
                    <td><a href="~/Comprar" class="btn btn-success btn-block">Comprar <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    </div><!--end container-->
    </div>