@model List<MvcApplication1.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}
<style>
    #alerta {
        background-color: #aaffcc;
        padding: 10px;
        display: inline-block;
        width: 100%;
        animation: aparecer 2s;
    }

    article {
        width: 20%;
        margin: 10px;
        padding: 10px;
        float: left;
        background-color: #aaccff;
    }

    @@keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
<div class="body padding">
    <div class="container">
        <h2 class="text-center text-success">Listado de Clientes</h2>
        <div class="well well-sm"><a class="btn btn-primary" href="~/Cliente/Crear">Nuevo Cliente</a></div>
        @if (Request.Params["Msg"] != null)
        {
            <span id="alerta">@Request.Params["Msg"]</span>
        }
        <table class="table table-hover table-striped">
            <thead>
                <tr class="bg-primary">
                    <th>ID de Cliente</th>
                    <th>RUT</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Direccuon</th>
                    <th>Telefono</th>

                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objCliente in Model)
                {
                    <tr>
                        <td>@objCliente.idCliente</td>
                        <td>@objCliente.rut</td>
                        <td>@objCliente.nombre</td>
                        <td>@objCliente.apPaterno</td>
                        <td>@objCliente.apMaterno</td>
                        <td>@objCliente.direccion</td>
                        <td>@objCliente.telefono</td>
                        <td><a class="btn btn-info" href="~/Cliente/Editar/@objCliente.idCliente"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                        <td><a class="btn btn-danger" href="~/Cliente/Eliminar/@objCliente.idCliente"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                    </tr>
                }
            </tbody>

        </table>

        </div>
</div>