@model List<MvcApplication1.Models.DetalleVenta>

@{
    ViewBag.Title = "Detalles de Ventas";
}
<style>
    #alerta {
        background-color: #aaffcc;
        padding: 10px;
        display: inline-block;
        width: 100%;
        animation: aparecer 2s;
    }

    article {
        width: 20%;
        margin: 10px;
        padding: 10px;
        float: left;
        background-color: #aaccff;
    }

    @@keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
<div class="body padding">
    <div class="container">
        <h2 class="text-center text-success">Listado de Detalles de Venta</h2>
        <div class="well well-sm"><a class="btn btn-primary" href="~/DetalleVenta/Crear">Nuevo Detalle de Venta</a></div>
        @if (Request.Params["Msg"] != null)
        {
            <span id="alerta">@Request.Params["Msg"]</span>
        }
        <table class="table table-hover table-striped">
            <thead>
                <tr class="bg-primary">
                    <th>ID de Detalle de Venta</th>
                    <th>ID de Factura</th>
                    <th>ID de Venta</th>
                    <th>Subtotal</th>
                    <th>ID de Producto</th>
                    <th>Cantidad</th>

                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objVendedor in Model)
                {
                    <tr>
                        <td>@objVendedor.idDetalle</td>
                        <td>@objVendedor.numFactura</td>
                        <td>@objVendedor.idVenta</td>
                        <td>@objVendedor.subTotal CLP</td>
                        <td>@objVendedor.idProducto</td>
                        <td>@objVendedor.cantidad</td>
                        <td><a class="btn btn-info" href="~/DetalleVenta/Editar/@objVendedor.idDetalle"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                        <td><a class="btn btn-danger" href="~/DetalleVenta/Eliminar/@objVendedor.idDetalle"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>