@model List<MvcApplication1.Models.Producto>

@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>eTienda</h1>
    <p class="lead">Bienvienido a Nuestra Tienda en Linea de Productos.</p>
    <p><a href="/Producto/" class="btn btn-primary btn-lg">Ver Productos</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Compra en linea</h2>
        <p>
            No mas Lineas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Carrito de Compras</h2>
        <p>Deja los productos que queras comprar en un carrito.</p>
    </div>
    <div class="col-md-4">
        <h2>Crea te una cuenta</h2>
        <p>Facil de Crear una Cuenta.</p>
    </div>
</div>

<h2 class="text-center text-success">Listado de los Ultimos 10 Productos Nuevos</h2>
<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objProducto in Model)
        {
            <tr>
                <td>@objProducto.idProducto</td>
                <td><img src="@objProducto.url_imagen" width="100px" height="100px";/></td>
                <td>@objProducto.nombre</td>
                <td>@objProducto.descripcion</td>
                <td>@objProducto.precioUnitario CLP</td>
                <td><a class="btn btn-success" href="~/Producto/Ver/@objProducto.idProducto"><span class="glyphicon glyphicon-eye-open"></span> Ver Producto</a></td>
                
            </tr>
        }
    </tbody>

</table>